<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="app">
    <todo-list>
        <!-- 使用默认插槽，可以省略外层 `template` 标签 -->
        <!--<template v-slot>-->
        <todo-item
                v-for="item in list"
                :key="item.id"
                :title="item.title"
                :del="item.del"
                @delete="handleDelete"
        >
            <!-- 具名插槽 -->
            <!-- Vue 2.5.x 插槽语法 -->
            <img slot="pre-icon"
                 src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=1564264355,3357835124&fm=26&gp=0.jpg"
                 alt="前置图标" style="width: 20px; height: 20px;">
            <img slot="suf-icon"
                 src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3745390473,3851381912&fm=26&gp=0.jpg"
                 alt="后置图标" style="width: 20px; height: 20px;">
            <!-- Vue 2.6.x 插槽语法 -->
            <template v-slot:last-icon="{ value }">
                <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2586427976,2127777837&fm=26&gp=0.jpg"
                     alt="前置图标" style="width: 20px; height: 20px;">
                <span>{{ value }}</span>
            </template>
        </todo-item>
        <!--</template>-->
    </todo-list>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    Vue.component('todo-item', {
        props: {
            title: String,
            del: {
                type: Boolean,
                default: false
            }
        },
        template: `
            <li>
                <slot name="pre-icon">前置图标</slot>
                <span v-if="!del">{{ title }}</span>
                <span v-else style="text-decoration: line-through">{{ title }}</span>
                <slot name="suf-icon">后置图标</slot>
                <button v-if="!del" @click="handelClick">删除</button>
                <slot name="last-icon" :value="value"></slot>
            </li>
        `,
        data: function () {
            return {
                value: Math.random()
            }
        },
        methods: {
            handelClick() {
                console.log('点击了删除')
                this.$emit('delete', this.title)
            }
        }
    })

    Vue.component('todo-list', {
        template: `
            <ol>
                <slot></slot>
            </ol>
        `,
        data: function () {
            return {}
        },
        methods: {}
    })

    var vm = new Vue({
        el: '#app',
        data: {
            list: [
                {
                    id: 1,
                    title: '光绪',
                    del: false
                },
                {
                    id: 2,
                    title: '慈禧',
                    del: true
                },
                {
                    id: 3,
                    title: '荣中堂',
                    del: false
                }
            ]
        },
        methods: {
            handleDelete(val) {
                console.log('handleDelete', val)
            }
        }
    })
</script>
</body>
</html>
